package cli

import (
	"fmt"
	"strings"

	"github.com/spf13/cobra"

	"github.com/cosmos/cosmos-sdk/client"
	"github.com/cosmos/cosmos-sdk/client/context"
	"github.com/cosmos/cosmos-sdk/codec"
	sdk "github.com/cosmos/cosmos-sdk/types"

	"github.com/{{ .Name }}/{{ .Repo }}/x/{{ .ModuleName }}/internal/types"
)

// GetQueryCmd returns the cli query commands for this module
func GetQueryCmd(queryRoute string, cdc *codec.Codec) *cobra.Command {
	// Group slashing queries under a subcommand
	{{ .ModuleName }}QueryCmd := &cobra.Command{
		Use:                        types.ModuleName,
		Short:                      fmt.Sprintf("Querying commands for the %s module", types.ModuleName),
		DisableFlagParsing:         true,
		SuggestionsMinimumDistance: 2,
		RunE:                       client.ValidateCmd,
	}

	{{ .ModuleName }}QueryCmd.AddCommand(
		client.GetCommands(
	// TODO: Add query Cmds
		)...,
	)

	return {{ .ModuleName }}QueryCmd

}

// TODO: Add Query Commands
